#task-bar {
    position: absolute;
    height: calc(100vh - 6.3rem);
    width: 22%;
    background-color: rgb(198, 121, 33);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    padding-top: 25px;
    overflow-x: none;
    overflow-y: scroll;
    padding-bottom: 25px;
}

#task-bar::-webkit-scrollbar {
    display: none;
}

#task-card {
    position: relative;
    width: 90%;
    min-height: 4rem;
    height: auto;
    background-color: white;
    border-radius: 15px;
    padding-left: 0.8rem;
    display: flex;
    align-items: center;
    user-select: none;
}

#task-card:hover {
    background-color: rgb(194, 194, 194);
    transition: 300ms;
    font-weight: bold;
}
