#the-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    align-content: center;
    justify-items: center;
}


#title-text {
    position: relative;
    left: 50%;
    margin-bottom: 3rem;
    transform: translate(-8%, 0%);
}